<div class="about">
<h2>Bandrecとは？</h2>
<p>Bandrec(バンドレック)とは、従来の掲示板形式とは全く違う<span>"新感覚"バンドメンバー募集サイト</span>です</p>

<h3>以下の人を対象としています</h3>

<p>「バンドに加入したい」</p>
<p>「バンドメンバーを募集したい」</p>
<p>「新しくバンドを結成したい」</p>

<h2>シンプル簡単な使い方</h2>

<h4>①プロフィールを登録</h4>
<p>メールアドレスで簡単に登録することができます</p>
<%= image_tag 'prof.png',class:"about-image" %>

<h4>②検索機能を活用して、ユーザーを探そう</h4>
<p>楽器パートや活動エリアで検索することができます</p>
<%= image_tag 'search.png',class:"about-image" %>

<h4>③チャット機能で連絡を簡単にとることができます</h4>
<p>チャットアプリと同様、簡単にメッセージを送ることができます</p>
<%= image_tag 'chat.png',class:"about-image" %><br>

<p>サービスの正式リリースは<span>12月後半</span>を予定しています！</p>
<p>※事前登録いただいた方には、サービス開始の連絡をいたします。</p>
<p>登録して、バンドメンバーを探してみましょう！！</p>

<%= link_to '事前登録はこちら', "/users/sign_up",class: "b" %>
</div>