<div class="about">
<h2>and's jam(あんずジャム)とは？</h2>
<p>and's jam(あんずジャム)、従来の掲示板形式とは異なる<span>"新感覚"バンドメンバー募集サイト</span>です</p>

<h3>以下の人を対象としています</h3>

<p>「バンドに加入したい」</p>
<p>「バンドメンバーを募集したい」</p>
<p>「新しくバンドを結成したい」</p>

<h2>使い方はとってもシンプル</h2>

<h4>①プロフィールを登録</h4>
<p>メールアドレスで簡単に登録することができます</p>
<p>プロフィール画像や音源UPL、自己紹介を載せることができます</p>
<%= image_tag 'prof.png',class:"about-image" %>

<h4>②検索機能を活用して、ユーザーを探そう</h4>
<p>楽器パートや活動エリアで検索することができます</p>
<%= image_tag 'search.png',class:"about-image" %>

<h4>③チャット機能で連絡を簡単にとることができます</h4>
<p>チャットアプリと同様、簡単にメッセージを送ることができます</p>
<%= image_tag 'chat.png',class:"about-image" %><br>

<p><span>登録はメールアドレスで簡単に行うことができます！</span></p>
<p>バンドメンバーを探してみましょう！！</p>

<%= link_to 'アカウント登録はこちら', "/users/sign_up",class: "btn btn-warning btn" %>
</div>