<div class="prereg">
<h2>事前登録ありがとうございました！Bandrecは12月16日(日曜日)リリース予定です</h2>
<p>メールアドレスを登録いただいた方には、サービス開始のお知らせをいたします。</p>

<span>プロフィール編集はいつでも可能です！</span><br>

<%= link_to 'プロフィールを編集する', mypage_path(current_user),:class => "edit" %>

</div>