<footer class="footer">
  <ul class="horizonal-list">
      <%#<li class="horizonal-item"><%= link_to 'and’s jamとは', "/top/about",:class => "bandrectoha" %>
      <li class="horizonal-item"><%= link_to 'お問い合わせ', "/top/inquiry" %></li>
      <li class="horizonal-item"><a href="#">SNS</a></li>
      <li class="horizonal-item"> <%= link_to 'プライバシーポリシー', "/top/privacy_policy" %> </li>
      <li class="horizonal-item"><%= link_to 'ログアウト', "/users/sign_out", method: :delete %></li>
  </ul>
  <p class="copyright">Copyright ©︎and's jam </p>
</footer>