
  <ul class="horizonal-list">
      <li class="horizonal-item"><%= link_to 'bandrecとは', "/top/about",:class => "bandrectoha" %>
      <li class="horizonal-item"><%= link_to 'お問い合わせ', "/top/inquiry" %></li>
      <li class="horizonal-item"><a href="#">SNS</a></li>
      <li class="horizonal-item"> <%= link_to 'プライバシーポリシー', "/top/privacy_policy" %> </li>
  </ul>
  <p class="copyright">Copyright ©︎bandrec </p>