<footer class="footer">
  <ul class="horizonal-list">
      <li class="horizonal-item"><a href="#">このサイトについて</a></li>
      <li class="horizonal-item"><a href="#">お問い合わせ</a></li>
      <li class="horizonal-item"><a href="#">SNS</a></li>
  </ul>
  <p class="copyright">Copyright ©︎ Bandrec </p>
</footer>