<footer class="footer">
  <ul class="horizonal-list">
      <li class="horizonal-item"><a href="#">このサイトについて</a></li>
      <li class="horizonal-item"><a href="#">お問い合わせ</a></li>
      <li class="horizonal-item"><a href="#">SNS</a></li>
      <li class="horizonal-item"> <%= link_to 'プライバシーポリシー', "/top/privacy_policy" %> </li>
      <li class="horizonal-item"><%= link_to 'ログアウト', "/users/sign_out", method: :delete %></li>
  </ul>
  <p class="copyright">Copyright ©︎ Bandrec </p>
</footer>