
<div class='site-share'>
<p>このサイトをシェアする</p>
<a href="https://twitter.com/share?url=https://www.anzujam.net&バンドメンバー募集" target="_blank" class="btn btn-info btn-lg" data-show-count="false">Twitter</a>
<a href="https://www.facebook.com/sharer/sharer.php?u=https://www.anzujam.net" target="_blank" class="btn btn-info btn-lg" data-show-count="false">Facebook</a>
<a href="https://line.me/R/msg/text/?https://www.anzujam.net" target="_blank" class="btn btn-info btn-lg" data-show-count="false">LINE</a>
</div>
<div class="copyright">Copyright ©︎bandrec </div><br>
  <div class="horizonal-list">
      <%= link_to 'bandrecとは', "/pages/about",:class => "bandrectoha" %> |
      <%= link_to 'お問い合わせ', "/pages/inquiry" %> |
      <%= link_to '利用規約', "/pages/privacy_policy" %> |
      <% if user_signed_in? %>
      <%= link_to "アカウント削除","/users/#{current_user}", method: :delete, data: { confirm: '本当にアカウントを削除しますか？' } %>
      <% end %>
  </div>