<div class="privacy-policy">
<h2>プライバシーポリシー</h2>
<h3>個人情報の管理</h3>
個人情報を取り扱うにあたっては、「個人情報の保護に関する法律」をはじめとする個人情報の保護に関する法令、ガイドラインおよび本プライバシーポリシーを遵守いたします。
<br>
<h3>個人情報の利用目的</h3>
当サイトでは、訪問者様からのお問い合わせ時に、お名前、e-mailアドレス、電話番号等の個人情報をご登録いただく場合がございますが、これらの個人情報はご提供いただく際の目的以外では利用いたしません。
<br>
<h3>個人情報の第三者への開示</h3>
当サイトでは、個人情報は適切に管理し、以下に該当する場合を除いて第三者に開示することはありません。
<br>
本人のご了解がある場合
法令に基き、開示が必要となる場合
<br>

<h3>当サイトが使用しているアクセス解析ツールについて</h3>
当サイトでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。
このGoogleアナリティクスはトラフィックデータの収集のためにCookieを使用しています。
このトラフィックデータは匿名で収集されており、個人を特定するものではありません。
<br>
Cookieを無効にし、収集を拒否することも出来ますので、お使いのブラウザの設定をご確認ください。詳しくはこちらをご参照ください。
<br>
<h3>当サイトの広告について</h3>
当サイトでは「Amazonアソシエイト」「楽天アフィリエイト」「A8net」などのアフィリエイトプログラムや第三者配信広告サービス「GoogleAdsense」を利用しています。
<br>
GoogleAdsenseでは広告配信プロセスにおいてデータを収集するために、Cookieを使用しています。GoogleでCookieを使用することにより、インターネットにおけるご自身のサイトや他のサイトへのアクセス情報に基づいてユーザーに広告を配信することが可能になります。
<br>
Cookieを使用しないように設定するにはこちらをご参照ください。
<br>
また、当サイトはamazon.co.jpなどを宣伝し、リンクすることによってサイトが紹介料を獲得できる手段を提供することを目的に設定されたアフィリエイト宣伝プログラムである「Amazonアソシエイト・プログラム」の参加者です。
<br>
<h3>著作権について</h3>
当サイトに掲載されている情報についての著作権は放棄しておりません。
<br>
著作権法により認められている引用の範囲である場合を除き「内容、テキスト、画像等」の無断転載・使用を固く禁じます。
<br>
<h3>免責事項</h3>
当サイトに掲載されている情報に関しては、可能な限り正確な情報を掲載するよう努めておりますが、誤情報が入り込んだり、情報が古くなっていることもございます。
<br>
また、当サイトには外部サイトへのリンクが含まれています。これらの外部サイトのコンテンツに対して一切責任を負いません。
<br>
掲載された内容によって生じた損害等の一切の責任を負いかねますのでご了承ください。
</div>